*
!.gitignore
!.aerospace.toml
!.config/
!.config/nvim/
!.config/nvim/**
!.config/sketchybar/
!.config/sketchybar/**
!.newsboat/
!.newsboat/config
!.newsboat/urls
!README.md
!screen.png

.config/nvim/lazy-lock.json
